/node_modules
/build
.npm-debug.log
*.DS_Store
privKey
coverage/
coverage.json
.vscode/
bridge.log
yarn-error.log
scripts/monitoring/node_modules
scripts/monitoring/logs/
.vscode
scripts/monitoring/config.yml
